version: '2'
services:
  mysql:
    image: leodockerhub/mysql
    build: .
    networks:
    - mysqlnet
    ports:
    - "3306:3306"
    environment:
    -  MYSQL_ROOT_PASSWORD=azerty
    volumes:
    - /home/martial/mysql:/var/lib/mysql


networks:
  mysqlnet:
    driver: bridge

